{% extends 'base.html' %}


{% block main %}
    
<h1>Novo-Pedido</h1>

<form method="POST">
{% csrf_token %}
<h2>Cabeçalho pedido numero: {{ venda_obj.numero }}</h2>
<input type="text" name="numero" class="form-control" value="{{ numero }}">

<input type="text" name="desconto" id="desconto" value="{{ desconto }}"
placeholder="Desconto" class="form-control">

<input type="hidden" value="{{ venda_obj.id }}" name="venda_id">
<br>
<button type="submit" class="btn btn-main">Enviar</button>
</form>

{% endblock %}

{% block extra %}

    {% if venda_obj %}
        <form action="{% url 'novo-item-pedido' venda_obj.id %}" method="POST">
            {% csrf_token %}
            {{ form_item }}
            <button class="btn btn-info">Incluir</button>
        </form>
   
 
    <h2>Listagem de Itens</h2>
    <table class="table">
        <tread>
            <th scope="col">ID</th>
            <th scope="col">Descrição</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Desconto</th>
        </tread>
        <tbody>
            {% for item in itens %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.produto.descricao }}</td>
                <td>{{ item.quantidade }}</td>
                <td>{{ item.desconto }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endif %}
{% endblock %}